@tailwind base;
@tailwind components;
@tailwind utilities;


.main{
  width: 100vw;
  height: 100vh;
  overflow: hidden;

}

img:nth-child(1){
  height: 100px;
  position: absolute;

  
}
img:nth-child(2){
  height: 90px;
  position: absolute;
  
}
#box{
  width: 200px;
  height: 200px;
  border: 30px;
  margin-top: 20px;
  background-color: aqua;
}